<!DOCTYPE HTML>
<html>
    <head>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="/static/index.js" type="text/babel"></script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/static/styles.css">
        <meta charset="UTF-8">
        <title>PassGen</title>
    </head>
    <body>
        <header>
            <p id="title">Password Generator</p>
        </header>
        <main>
            <a id="toThe" href="/">To the generator</a>
        {% if password|length > 0 %}
            {% for pswd in password %}

            <div>
                <h2> {{ pswd.id }}</h2>
                <p> {{ pswd.password }} </p>
                <p> {{ pswd.user_id }} </p>
                <a href="/passwords/{{ pswd.id }}/del">Delete password</a>
            </div>

            {% endfor %}
        {% else %}
            <p>Passwords don't exist yet</p>
        {% endif %}
        </main>
        <footer>
            <p id="foot1">Made by Kovsh</p>
            <p id="foot2">2022</p>
        </footer>
    </body>
</html>